{% extends 'base.html.twig' %}

{% block title %} Szkoły tańca {% endblock %}

{% block body %}
    <div>
        <p></p>
        <p>Tu się pojawią filtry na wyszukiwanie szkoły tańca ...</p>

    </div>
    <div class="list-group">
        {% for szkola in szkoly %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ szkola.nazwaSzkoly }}</h5>
                                    <small class="text-muted">{{ szkola.miastoSzkoly }}</small>
                </div>
                <p class="mb-1">{{ szkola.opisKrotki }}</p>
                <small class="text-muted">Tu będą dostępne kategorie tańca szkoły</small>
            </a>
            <br>
        {% endfor %}
    </div>

{% endblock %}



